.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;

  &__h1 {
    font-size: 20em;
    color: #ff6060;
    margin: 0;
    margin-top: 50px;
  }

  &__p {
    font-size: 2em;
    color: #ff6060;
  }

  &__navlink {
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 80px;
  }
}
