* {
  margin: 0;
  padding: 0;
}

.card1 {
  &__h2 {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
  }

  &__p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.tag {
  font-weight: bold;
  border-radius: 10px;
  list-style: none;
  color: #ffffff;
  background-color: #ff6060;
  text-align: center;
  padding: 3px 29px;
  white-space: nowrap;

  @media (max-width: 768px) {
    font-size: 10px;
    padding: 3px 10px;
  }
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 35px auto 25px auto;

  @media (max-width: 768px) {
    display: block;
    margin: 20px;
  }
}

.card2 {
  &__profil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__h3 {
    font-size: 20px;
    font-weight: 500;
    color: #ff6060;
    max-width: 90px;

    @media (max-width: 768px) {
      font-size: 12px;
      max-width: 50px;
    }
  }

  &__img {
    object-fit: cover;
    border-radius: 50%;
    width: 64px;
    height: 64px;

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
}

.rating {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;

  .fa-star {
    font-size: 24px;

    &.filled {
      color: #ff6060;
    }

    &.empty {
      color: #e3e3e3;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    margin: 0;
  }
}

.collapse-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
  }
}

.collapse {
  width: 100%;
}
