.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 3em 0;
  width: 100%;
  margin-top: 50px;
  flex: 1;

  &__img {
    margin-bottom: 40px;
  }

}
