.card {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
    pointer-events: none;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    color: white;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
  justify-items: center;
  background-color: #f6f6f6;
  padding: 3em;
  margin: 0 auto;
  border-radius: 25px;
  width: fit-content;
}
