.collapse {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 0 200px;
    transition: all 1s ease-out;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: #ff6060;
    border: 0;
    padding: 15px;
  }

  &__arrow {
    transition: transform 0.3s ease;
    cursor: pointer;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__content {
    font-size: 1.3em;
    animation: slideDown 0.3s ease;
    overflow: hidden;
    background: #f6f6f673;
    border-radius: 5px;
    padding: 15px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
