.slider {
  position: relative;
  width: 100%;
  height: 415px;
  margin: 0 auto;

  &__img {
    object-fit: cover;
    border-radius: 25px;
    height: 100%;
    width: 100%;
  }

  &__i {
    color: #ffffff;
    font-size: 5em;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 2em;
    }
  }

  @media (max-width: 768px) {
    height: 255px;
    width: 335px;
    margin: 0 20px;
  }

  &__counter {
    display: none;
  }
}

.fa-angle-left {
  position: absolute;
  top: 40%;
  left: 10px;
}

.fa-angle-right {
  position: absolute;
  top: 40%;
  right: 10px;
}
