.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 5em;

    &__nav {
        display: flex;
        gap: 3em;
        
    }

    &__link {
        font-size: 24px;
        color: black;
        text-decoration: none;
    }
}