.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 7em;

  &__nav {
    display: flex;
    gap: 3em;
  }

  &__link {
    font-size: 24px;
    color: black;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }
}
