.banner {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  height: 220px;
  position: relative;
  margin-bottom: 40px;

  &__img {
    width: 100%;
    display: flex;
    justify-self: center;
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-wrap: nowrap;
  }
}
